body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.todo-container {
  width: 350px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(76, 70, 70, 0.1);
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px;
  width: 100px;
  background-color: #6eee8c;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin-top: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  cursor: pointer;
  overflow: hidden;
}
